---
import { Image } from "astro:assets";
import vescaActeImage from "../assets/vesca-photos/vesca-acte.jpg";
import vescaActe2Image from "../assets/vesca-photos/vesca-acte-2.jpg";
import vescaWork3Image from "../assets/vesca-photos/vesca-work3.jpg";
import vescaWork4Image from "../assets/vesca-photos/vesca-work-4.jpg";
import vescaTeamImage from "../assets/vesca-photos/vesca-team.jpg";
---

<section class="section-container">
  <div class="flex flex-col max-w-section w-full">
    <h2 class="text-center text-2xl mb-8 lg:mb-20 md:text-3xl lg:text-4xl">
      Galería
    </h2>
    <div
      class="grid w-full grid-cols-1 md:grid-cols-2 gap-4 lg:gap-8 lg:grid-cols-3"
    >
      <div
        class="rounded-xl w-full h-full aspect-[4/3] lg:col-span-2 lg:aspect-[2/1]"
      >
        <Image src={vescaActeImage} alt="" class="rounded-xl" />
      </div>
      <div class="rounded-xl w-full h-full aspect-[4/3]">
        <Image src={vescaWork3Image} alt="" class="rounded-xl" />
      </div>
      <div class="rounded-xl w-full h-full aspect-[4/3]">
        <Image src={vescaWork4Image} alt="" class="rounded-xl" />
      </div>
      <div
        class="rounded-xl w-full h-full aspect-[4/3] lg:col-span-2 lg:aspect-[2/1]"
      >
        <Image src={vescaActe2Image} alt="" class="rounded-xl" />
      </div>
      <div
        class="rounded-xl w-full h-full aspect-[4/3] md:aspect-[8/3] md:col-span-2 lg:col-span-3 lg:aspect-[3/1]"
      >
        <Image src={vescaTeamImage} alt="" class="rounded-xl" />
      </div>
    </div>
  </div>
</section>
